<div class="body">
  <h2 class="text-center">Sign Up</h2>
  <form  #f="ngForm" (ngSubmit)="signup(f)">

    <input ngModel  #name="ngModel" name="name"  type="text" class="form-control" placeholder="Your Name" required/>
    <div class="alert alert-danger" *ngIf="name.invalid && name.touched">Name is required</div>

    <input ngModel #email="ngModel" name="email" type="email" class="form-control" placeholder="Email" required/>
    <div class="alert alert-danger" *ngIf="email.touched && email.errors?.required">Email is required</div>
    <div class="alert alert-danger" *ngIf="email.touched && email.errors?.email">Your input doesn't match email format</div>

    <input ngModel #password="ngModel" name="password" type="password" class="form-control" placeholder="Password" required minlength="6"/>
    <div class="alert alert-danger" *ngIf="password.invalid && password.touched">Password is required</div>
    <div class="alert alert-danger" *ngIf="password.value !== passwordConfirm.value ">Password NOT VALID</div>

    <input ngModel #passwordConfirm="ngModel" name="passwordConfim" type="password" class="form-control" placeholder="Confim Password" required />
    <div class="alert alert-danger" *ngIf="passwordConfirm.invalid && passwordConfirm.touched">Password are not equel</div>

    <input ngModel  #address="ngModel" name="address" type="text" class="form-control" placeholder="Address" required/>
    <div class="alert alert-danger" *ngIf="address.invalid && address.touched">Adresse is required</div>


    <button class="btn btn-primary" [disabled]="f.invalid || passwordConfirm.value !== password.value" (click)="signup(f)" >Create Account</button>

  </form>

</div>
